/** Custom styles */
.blog h2, .shop.single h1 {
    color: $primary;
}

.blog h4 {
    font-weight:normal;
}

[data-dark-mode] .blog h2, .shop.single h1 {
    color: $yellow-o;
}

[data-dark-mode] .shop.single h1 {
    color: #a62120;
}

.form-control {
    background-color: $beige;
    border: $input-border-width solid $beige;
}

.colored-text {
    color: $link-color;
}

[data-dark-mode] .colored-text {
    color: $link-color-dark;
}

.blog .btn.disabled {
    opacity: 0 !important;
}

#btn-back-to-top {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1em;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    color: #6c757d; 
}
  
#btn-back-to-top i, i:hover {
    -webkit-text-stroke: 0.03em; 
}

.offcanvas-end {
    width: 100% !important; 
}

[role=document] {
    padding-top: 6rem;
}

body .btn-menu:hover {
    background: lighten($beige, 5%);
}

.shop .content {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.shop.list .card-body {
    padding: 0 2rem 1rem;
}

.mt-n3 {
    margin-top: -1rem !important;
  }

details[open] > summary {
    margin-bottom: 1.5rem;
}

summary {
    padding: 1.5rem 1.75rem;
}

details[open] > p, ul {
    margin-left: 1.5rem;
}

#dropDownId {
    margin-top:calc(12px + 1.5vw);
    color: $body-color;
    background: $beige;
    font-size:calc(12px + 1.2vw);
}

[data-dark-mode] #dropDownId {
    background: $body-overlay-dark;
    color: $body-color-dark;
}

#shop-button {
    font-size:calc(12px + 1.2vw);
}

body .footer.text-muted {
    color: darken($body-color-dark, 7.5%) !important;
  }

#verse {
  font-weight: 500 !important;
}


[data-dark-mode] body .form-control {
    background: $body-overlay-dark;
    border: 1px solid transparent;
  }
  
[data-dark-mode] body .form-control:focus {
    border: 1px solid $link-color-dark;
  }

[data-dark-mode] body .form-control.is-search {
    background: $body-overlay-dark;
    border: 1px solid transparent;
    color: $gray-300;
}

[data-dark-mode] body .form-control.is-search:focus {
  border: 1px solid $link-color-dark;
}

[data-dark-mode] body .form-control {
    color: $gray-300;
}
  
[data-dark-mode] body .form-control::placeholder {
    color: $gray-400;
    opacity: 1;
}

.form-element {
    margin-bottom: 20px;
}